@use "../util" as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: rem(15);
  font-family: var(--lexend-deca);
  background: var(--very-light-gray-bg-h-btn);
}

figure {
  margin: 0;
}

button {
  cursor: pointer;
}